
{% extends "layout.html" %}
{% block body %}
 <!-- Page Header -->
 <header class="masthead" style="background-image: url('{{url_for('static',filename='img/about-bg.jpg')}}  ')">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         <div class="page-heading">
           <h1>Admin Panel</h1>
           <span class="subheading">Manage your posts and change theme</span>
         </div>
       </div>
     </div>
   </div>
 </header>

 <!-- Main Content -->
 <div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">
      
      <a href="/insert" class="btn btn btn-secondary">Add Post</a>
      
    <h2 class="text-success">Edit Posts</h2>          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Serial</th>
        <th>Post Title</th>
        <th>Post Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     {% for row in posts %} 
      <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.title}}</td>
        <td>{{ row.date}}</td>
        <td><button class="btn btn-primary">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>

      </tr>
      {% endfor %} 

    </tbody>
  </table>

      
     </div>
   </div>
 </div>

 <hr>

   {% endblock %}

 